.home_agencies{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  width: inherit;
  .agency{
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    background-color: darken(#546778, 20%);
    position: relative;
    .image{
      z-index: 0;
      img{
        width: 100%;
        height: auto;
        opacity: .4;
      }
    }
    .title{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 200px;
      text-align: center;
      line-height: 200px;
      z-index: 1;
      color: #FFF;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 768px) {

  .home_agencies {
    grid-template-columns: 1fr;
    padding: 15px;
    .agency{
      height: 150px;
      .title{
        height: 150px;
        line-height: 150px;

      }
    }
  }

}