.search{
  background-color: darken(#546778, 10%);
  padding: 20px 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  form{
    display: inline-flex;
    .date_search{
      padding: 10px 7px;
      border-radius: 5px;
      border: 0;
      font-weight: 700;
      color: #546778;
      }
      .search_txt{
        padding: 0 25px;
        color: #FFF;
        font-weight: 700;
        text-align: center
      }
      .search_btn{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background: #4e91e4;
        color: #fff;
        border: none;
        font: inherit;
        font-weight: bolder;
        padding: 25px 75px 25px 100px;
        cursor: pointer;
        outline: inherit;
        clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
        &:hover{
          background: darken(#4e91e4, 3%);
        }
      }
  }
}

@media screen and (max-width: 1114px) {
  .search{
    form{
      display: grid;
      grid-gap: 25px;
      padding-bottom: 55px;
      .search_btn{
        top: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 55px;
        clip-path: none;
        padding: 0;
      }
    }
  }
}