.vehicle{
  background-color: #546778;
  border-radius: 15px;
  color: #FFF;
  padding: 25px;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  margin: 10px 0;
  padding-bottom: 65px;
  .bloc{
      display: grid;
      grid-template-columns: 200px 1fr;
      z-index: 1;
      position: relative;
      .photo{
          background-color: lighten(#546778, 5%);
          border-radius: 50%;
          height: 200px;
          width: 200px;
          text-align: center;
          line-height: 190px;
          .logo{
              position: absolute;
              width: 64px;
              height: 64px;
              top: -60px;
              right: 0;
          }
          img{
              max-width: 90%;
              max-height: 90%;
              vertical-align: middle;
          }
      }
      .infos{
          padding: 25px;
          .vehicle_title{
              font-size: 20px;
              padding: 5px 0;
          }
          .start{
              padding: 5px 0;
              i{
                  padding: 5px
              }
          }
          .end{
              padding: 5px 0;
              i{
                  padding: 5px
              }
          }
          .price{
              padding: 5px 0;
              text-align: right;
              max-width: 380px;
              font-size: 18px;
              i{
                  padding: 5px
              }
          }
      }
  }
  .agency_title{
      position: absolute;
      right: 0px;
      bottom: 40px;
      border-radius: 5px;
      padding: 25px;
      z-index: 1;
  }
  .agency{
      opacity: 0.3;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      z-index: 0;
  }
  .order_button{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-decoration: none;
    line-height: 45px;
    height: 45px;
    color: #FFF;
    background-color: #4e91e4;
  }

  .desc{
    padding: 5px;
    div{
      padding: 5px;
      span{
        padding: 5px;
      }
    }
  }
}

.price_filter{
  padding: 15px;
  border-radius: 15px;
  background-color: #546778;
  color: #FFF;
  font-weight: 700;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .vehicle{
      .bloc{
          grid-template-columns: 1fr;
          .photo{
              margin: 0 auto;
              width: 125px;
              height: 125px;
              line-height: 115px;
              box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.45);
              .logo{
                  position: absolute;
                  width: 64px;
                  height: 64px;
                  top: -30px;
                  right: 0;
              }
          }
      }
  }
}