
//Siimple
@import url('https://cdn.jsdelivr.net/npm/siimple@3.3.0/dist/siimple.min.css');

//Fontawsome

@import url('https://pro.fontawesome.com/releases/v5.7.2/css/all.css');

body{
    overflow-y: scroll;
}

header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
}
main{
    padding-top: 64px;
}
.menu_btn{
    font-weight: 700;
    font-size: 21px;
    line-height: 34px;
    &:hover{
        color: darken(#FFF, 5%) !important;
    }
}

.menu{
    position: absolute;
    right: 0;
    top: 64px;
    z-index: 0;
    padding: 10px 17px 10px 25px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%);
    z-index: -1;
    transition-duration: .3s;
}
.hide{
    transform: translateY(-64px);
}

.hello{
    height: 180px;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: -1;
    background: #000 url(/images/bg.jpg) no-repeat;
    background-size: contain;
    background-position: center right;
    .txt{
        padding: 55px 30px;
        background: #eef2f7;
        color: #546778;
        height: 100%;
        width: 55%;
        clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
        h1{
            margin: 0;
        }
        p{
            margin: 0;
        }
    }
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: rgba(0,0,0,.5);
        z-index: -1;
    }
}

.account_btn{
    height: 34px;
    display: inline-block;
    background-color: darken(#546778, 10%);
    border-radius: 5px;
    font-size: 16px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    line-height: 34px;
    text-decoration: none;
    &:hover{
        background-color: darken(#546778, 13%);
        color:darken(#fff, 7%);
    }
    &:link, &:visited{
        color:#fff;
    }
    span{
        img{
            height: 34px;
            vertical-align: middle;
            position: relative;
            bottom: 1px;
        }
    }
    .txt{
        font-weight: 400;
        padding: 0 18px;
        position: relative;
        top: .5px;
        font-weight: 700;
    }
}
.admin{
    background-color: #000 !important;
}
.admin_span{
    font-size: 14px;
    padding: 0 3px;
    color: darken(#fff, 35%);
}
.admin_table{
    overflow-x: scroll;
    .siimple-table-cell{
        vertical-align: middle;
    }
    .tab_date{
            white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .tab_img{
        width: 36px;
        height: 36px;
        overflow:hidden;
        border-radius: 50%;
        display: inline-block;
        
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .brand{
        text-align: center;
        line-height: 36px;
        background-color: #EEEEEE;
        img{
            max-width: 80%;
            max-height: 80%;
            vertical-align: middle;
        }
    }
    .agency{
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.bloc_add{
    padding: 0 0 10px 0;
    height: 35px;
    .siimple-btn{
        float: right;
    }
}

.siimple-alert{
    position: unset;
}

.order{
    background-color: #546778;
    border-radius: 15px;
    color: #FFF;
    padding: 25px;
    position: relative;
    overflow: hidden;
    font-weight: 700;
    margin: 10px 0;
    .bloc{
        display: grid;
        grid-template-columns: 200px 1fr;
        z-index: 1;
        position: relative;
        .photo{
            background-color: lighten(#546778, 5%);
            border-radius: 50%;
            height: 200px;
            width: 200px;
            text-align: center;
            line-height: 190px;
            .logo{
                position: absolute;
                width: 64px;
                height: 64px;
                top: -60px;
                right: 0;
            }
            img{
                max-width: 90%;
                max-height: 90%;
                vertical-align: middle;
            }
        }
        .infos{
            padding: 25px;
            .vehicle_title{
                font-size: 20px;
                padding: 5px 0;
            }
            .start{
                padding: 5px 0;
                i{
                    padding: 5px
                }
            }
            .end{
                padding: 5px 0;
                i{
                    padding: 5px
                }
            }
            .price{
                padding: 5px 0;
                text-align: right;
                max-width: 380px;
                font-size: 18px;
                i{
                    padding: 5px
                }
            }
        }
    }
    .agency_title{
        position: absolute;
        right: 0px;
        bottom: 0px;
        border-radius: 5px;
        padding: 25px;
        z-index: 1;
    }
    .agency{
        opacity: 0.3;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        z-index: 0;
    }
}

.siimple-tabs-item, .siimple-tabs-tab{
    text-decoration: none;
}

@media screen and (max-width: 1144px) {
    .hello{
        .txt{
            width: 35%;
        }
    }
}

@media screen and (max-width: 768px) {
    .hello{
        .txt{
            width: 100%;
            clip-path: none;
        }
    }
    .order{
        .bloc{
            grid-template-columns: 1fr;
            .photo{
                margin: 0 auto;
                width: 125px;
                height: 125px;
                line-height: 115px;
                box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.45);
                .logo{
                    position: absolute;
                    width: 64px;
                    height: 64px;
                    top: -30px;
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .hello{
        .txt{
            width: 100%;
            clip-path: none;
        }
    }
}

@import "./_home.scss";
@import "./_search.scss";
@import "./_agencies.scss";
