@import url(https://cdn.jsdelivr.net/npm/siimple@3.3.0/dist/siimple.min.css);@import url(https://pro.fontawesome.com/releases/v5.7.2/css/all.css);body {
  overflow-y: scroll;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
}

main {
  padding-top: 64px;
}

.menu_btn {
  font-weight: 700;
  font-size: 21px;
  line-height: 34px;
}

.menu_btn:hover {
  color: #f2f2f2 !important;
}

.menu {
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
  padding: 10px 17px 10px 25px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%);
  z-index: -1;
  transition-duration: 0.3s;
}

.hide {
  -webkit-transform: translateY(-64px);
          transform: translateY(-64px);
}

.hello {
  height: 180px;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  background: #000 url(/images/bg.jpg) no-repeat;
  background-size: contain;
  background-position: center right;
}

.hello .txt {
  padding: 55px 30px;
  background: #eef2f7;
  color: #546778;
  height: 100%;
  width: 55%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.hello .txt h1 {
  margin: 0;
}

.hello .txt p {
  margin: 0;
}

.hello:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.account_btn {
  height: 34px;
  display: inline-block;
  background-color: #3f4d5a;
  border-radius: 5px;
  font-size: 16px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  line-height: 34px;
  text-decoration: none;
}

.account_btn:hover {
  background-color: #394651;
  color: #ededed;
}

.account_btn:link,
.account_btn:visited {
  color: #fff;
}

.account_btn span img {
  height: 34px;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.account_btn .txt {
  font-weight: 400;
  padding: 0 18px;
  position: relative;
  top: 0.5px;
  font-weight: 700;
}

.admin {
  background-color: #000 !important;
}

.admin_span {
  font-size: 14px;
  padding: 0 3px;
  color: #a6a6a6;
}

.admin_table {
  overflow-x: scroll;
}

.admin_table .siimple-table-cell {
  vertical-align: middle;
}

.admin_table .tab_date {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin_table .tab_img {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
}

.admin_table .tab_img img {
  max-width: 100%;
  max-height: 100%;
}

.admin_table .brand {
  text-align: center;
  line-height: 36px;
  background-color: #EEEEEE;
}

.admin_table .brand img {
  max-width: 80%;
  max-height: 80%;
  vertical-align: middle;
}

.admin_table .agency img {
  width: 100%;
  height: 100%;
}

.bloc_add {
  padding: 0 0 10px 0;
  height: 35px;
}

.bloc_add .siimple-btn {
  float: right;
}

.siimple-alert {
  position: unset;
}

.order {
  background-color: #546778;
  border-radius: 15px;
  color: #FFF;
  padding: 25px;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  margin: 10px 0;
}

.order .bloc {
  display: grid;
  grid-template-columns: 200px 1fr;
  z-index: 1;
  position: relative;
}

.order .bloc .photo {
  background-color: #5f7487;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 190px;
}

.order .bloc .photo .logo {
  position: absolute;
  width: 64px;
  height: 64px;
  top: -60px;
  right: 0;
}

.order .bloc .photo img {
  max-width: 90%;
  max-height: 90%;
  vertical-align: middle;
}

.order .bloc .infos {
  padding: 25px;
}

.order .bloc .infos .vehicle_title {
  font-size: 20px;
  padding: 5px 0;
}

.order .bloc .infos .start {
  padding: 5px 0;
}

.order .bloc .infos .start i {
  padding: 5px;
}

.order .bloc .infos .end {
  padding: 5px 0;
}

.order .bloc .infos .end i {
  padding: 5px;
}

.order .bloc .infos .price {
  padding: 5px 0;
  text-align: right;
  max-width: 380px;
  font-size: 18px;
}

.order .bloc .infos .price i {
  padding: 5px;
}

.order .agency_title {
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 5px;
  padding: 25px;
  z-index: 1;
}

.order .agency {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 0;
}

.siimple-tabs-item,
.siimple-tabs-tab {
  text-decoration: none;
}

@media screen and (max-width: 1144px) {
  .hello .txt {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .hello .txt {
    width: 100%;
    -webkit-clip-path: none;
            clip-path: none;
  }

  .order .bloc {
    grid-template-columns: 1fr;
  }

  .order .bloc .photo {
    margin: 0 auto;
    width: 125px;
    height: 125px;
    line-height: 115px;
    box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.45);
  }

  .order .bloc .photo .logo {
    position: absolute;
    width: 64px;
    height: 64px;
    top: -30px;
    right: 0;
  }
}

@media screen and (max-width: 500px) {
  .hello .txt {
    width: 100%;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.search {
  background-color: #3f4d5a;
  padding: 20px 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.search form {
  display: inline-flex;
}

.search form .date_search {
  padding: 10px 7px;
  border-radius: 5px;
  border: 0;
  font-weight: 700;
  color: #546778;
}

.search form .search_txt {
  padding: 0 25px;
  color: #FFF;
  font-weight: 700;
  text-align: center;
}

.search form .search_btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #4e91e4;
  color: #fff;
  border: none;
  font: inherit;
  font-weight: bolder;
  padding: 25px 75px 25px 100px;
  cursor: pointer;
  outline: inherit;
  -webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.search form .search_btn:hover {
  background: #4189e2;
}

@media screen and (max-width: 1114px) {
  .search form {
    display: grid;
    grid-gap: 25px;
    padding-bottom: 55px;
  }

  .search form .search_btn {
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    -webkit-clip-path: none;
            clip-path: none;
    padding: 0;
  }
}

.vehicle {
  background-color: #546778;
  border-radius: 15px;
  color: #FFF;
  padding: 25px;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  margin: 10px 0;
  padding-bottom: 65px;
}

.vehicle .bloc {
  display: grid;
  grid-template-columns: 200px 1fr;
  z-index: 1;
  position: relative;
}

.vehicle .bloc .photo {
  background-color: #5f7487;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 190px;
}

.vehicle .bloc .photo .logo {
  position: absolute;
  width: 64px;
  height: 64px;
  top: -60px;
  right: 0;
}

.vehicle .bloc .photo img {
  max-width: 90%;
  max-height: 90%;
  vertical-align: middle;
}

.vehicle .bloc .infos {
  padding: 25px;
}

.vehicle .bloc .infos .vehicle_title {
  font-size: 20px;
  padding: 5px 0;
}

.vehicle .bloc .infos .start {
  padding: 5px 0;
}

.vehicle .bloc .infos .start i {
  padding: 5px;
}

.vehicle .bloc .infos .end {
  padding: 5px 0;
}

.vehicle .bloc .infos .end i {
  padding: 5px;
}

.vehicle .bloc .infos .price {
  padding: 5px 0;
  text-align: right;
  max-width: 380px;
  font-size: 18px;
}

.vehicle .bloc .infos .price i {
  padding: 5px;
}

.vehicle .agency_title {
  position: absolute;
  right: 0px;
  bottom: 40px;
  border-radius: 5px;
  padding: 25px;
  z-index: 1;
}

.vehicle .agency {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 0;
}

.vehicle .order_button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  line-height: 45px;
  height: 45px;
  color: #FFF;
  background-color: #4e91e4;
}

.vehicle .desc {
  padding: 5px;
}

.vehicle .desc div {
  padding: 5px;
}

.vehicle .desc div span {
  padding: 5px;
}

.price_filter {
  padding: 15px;
  border-radius: 15px;
  background-color: #546778;
  color: #FFF;
  font-weight: 700;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .vehicle .bloc {
    grid-template-columns: 1fr;
  }

  .vehicle .bloc .photo {
    margin: 0 auto;
    width: 125px;
    height: 125px;
    line-height: 115px;
    box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.45);
  }

  .vehicle .bloc .photo .logo {
    position: absolute;
    width: 64px;
    height: 64px;
    top: -30px;
    right: 0;
  }
}

.home_agencies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  width: inherit;
}

.home_agencies .agency {
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
  background-color: #2a343c;
  position: relative;
}

.home_agencies .agency .image {
  z-index: 0;
}

.home_agencies .agency .image img {
  width: 100%;
  height: auto;
  opacity: 0.4;
}

.home_agencies .agency .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  text-align: center;
  line-height: 200px;
  z-index: 1;
  color: #FFF;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .home_agencies {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .home_agencies .agency {
    height: 150px;
  }

  .home_agencies .agency .title {
    height: 150px;
    line-height: 150px;
  }
}

